body {
    background-image: url('imagenes/fondito3.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    margin: 0;
    font-family: 'Courier New', monospace;
}

/*header */
header {
    background-color: #7a8b6e;
    padding: 10px 0;
    text-align: center;
}

nav {
    display: flex;
    justify-content: center;
    gap: 10px;
}

nav a {
    background-color: #e9640f;
    color: white;
    padding: 8px 15px;
    border-radius: 4px;
    text-decoration: none;
    font-weight: bold;
    transition: all 0.2s ease;
    font-family: 'Courier New', monospace;
    font-size: 14px;
}

nav a:hover {
    transform: scale(1.05);
}

nav a.activo {
    background-color: #f3a55a;
    color: #ffffff;
}


/*rectangulo  principal*/
.contenedor {
    background-color: #f8b97a;
    max-width: 1100px;
    margin: 40px auto;
    padding: 15px 30px; /* menos alto, mantiene el ancho */
    border-radius: 25px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.2);

}

.contenedor h2 {
    text-align: center;
    color: white;
    font-size: 2em;
    margin-bottom: 40px;
     font-family: "Architects Daughter", cursive;
}

/* contenido interno */
.contenido {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 40px;
    flex-wrap: wrap;
        font-family: "Architects Daughter", cursive;
}

.columna-izquierda img,
.columna-derecha img {
    border-radius: 15px;
    width: 230px;
    height: auto;
    box-shadow: 0 3px 6px rgba(0,0,0,0.3);
    display: block;
    margin-bottom: 25px;
}

.columna-centro {
    flex: 1;
    min-width: 300px;
}

.columna-centro p {
    color: white;
    font-size: 1em;
    text-align: justify;
    line-height: 1.6em;
    margin: 0;
}

.redes {
    text-align: center;
    margin-top: 1px; /* antes 25px */
}


.redes img {
    width: 45px;
    margin: 0 15px;
    transition: transform 0.2s ease;
    vertical-align: middle;
}

.redes img:hover {
    transform: scale(1.2);
}

/* footer */
footer {
    background-color: #7a8b6e;
    color: white;
    text-align: center;
    padding: 10px 0;
    font-weight: bold;
}

.redes a {
    text-decoration: none;
    border-bottom: none;
}

.foto1 {
    margin-top: 40px; /* ajusta el valor hasta que se vea bien */
}

/* agranda las imágenes */
.contenido img {
    transition: transform 0.3s ease;
    cursor: pointer;
}

/* Cuando pasas el cursor encima */
.contenido img:hover {
    transform: scale(1.1);
}

/* Cuando está "activa" por clic */
.contenido img.activa {
    transform: scale(1.2);
    transition: transform 0.3s ease;
}
